<div class="login-container">
  <form>
    ...
  </form>
</div>
<div class="header-container">
  <img src="assets/ialogo2-removebg-preview.png" class="logo">
  <br>
  <h1 class="title">IAlist</h1>
</div>



<div class="login-container">
  <form>
    <div class="form-group">
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" class="form-control">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      <button type="button" class="btn btn-secondary">Cancelar</button>
    </div>
  </form>
</div>

